{% extends 'layouts/base-landing.html' %}

{% block title %}About Us{% endblock %}

{% block stylesheets %} {% endblock stylesheets %}

{% block content %}
<!-- comtent -->
 <br><br><br>
<section>
      <div class="page-header min-vh-100 ">
        <div class="container ">
          <div class="row">
            <div class="col-xl-6 col-lg-5 col-md-7 d-flex flex-column mx-lg-0 mx-auto">
                <h3>About Us</h3>
                <p>Welcome to our comprehensive stock management system <span style="color: blueviolet;"><b>StockSync</b></span>. In today's dynamic business landscape, efficient stock management is paramount for businesses of all sizes to optimize operations, minimize costs, and maximize profits. Our stock management system provides a robust solution for businesses to streamline inventory tracking, procurement, and sales processes.</p>
                <p>The primary purpose of our stock management system is to provide businesses with a centralized platform to effectively manage their inventory. Whether you're a small retail store or a large-scale manufacturer, our system empowers you to maintain accurate stock levels, track product movements, and make informed decisions to meet customer demand and drive business growth.</p>
                <div>
                  <br>
                  <br>
                  <h3 > <b>Our Team</b></h3>
                  
                  <ul>
                    <!-- <li>Mai Thaher</li> -->
                    <li>Mohannad Saadeh</li>
                    <!-- <li>Akram Jaber</li> -->
                  </ul>
                </div>
              </div>
            <div class="col-6 d-lg-flex d-none h-100 my-auto pe-0 position-absolute top-0 end-0 text-center justify-content-center flex-column">
              <div class="position-relative bg-gradient-primary h-100 m-3 px-7 border-radius-lg d-flex flex-column justify-content-center overflow-hidden" style="background-image: url('static/img/hompage_background.png');
          background-size: cover;">
                <span class="mask bg-gradient-primary opacity-6"></span>
                <h4 class="mt-5 text-white font-weight-bolder position-relative">"The way to manage your stock, STOCKSYNC"</h4>
                <p class="text-white position-relative">All the features you'll ever need to manage your business</p>
                
              </div>
            </div>
          </div>
        </div>
        
      </div>
      
    </section>

<!-- end comtent -->
{% endblock content %}
<!-- Specific Page JS goes HERE  -->
{% block javascripts %} {% endblock javascripts %}