{% extends 'layouts/base.html' %}
{% load i18n %}

{% block title %}{% trans "Employee Reports" %}{% endblock %}

{% block stylesheets %} {% endblock stylesheets %}

{% block content %}

            {% block page_name %}{% trans "Reports" %}{% endblock %}
<!-- comtent -->
<br/>
<br/>
<br/>
<br/>
<div class="col-8">
        <div class="card mb-4" id="printableTable">
          <div class="card-header pb-0">
            <h6>{% trans "Al Ard / Daily Report" %}</h6>
            <p>{% trans "Date:" %} {{today}}</p>
              <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
                <div class="col">
                  <div class="p-3">
                    <a href="/stock_products_report/" class="btn btn-primary">{% trans "Stock Products Report" %}</a>
                  </div>
                </div>
                <div class="col">
                  <div class="p-3">
                    <a href="/empty_products_report/" class="btn btn-primary">{% trans "Empty Products Report" %}</a>
                  </div>
                </div>
                <div class="col">
                  <div class="p-3">
                   <a href="/sales_products_report/" class="btn btn-primary">{% trans "Sales Report" %}</a>
                  </div>
                </div>
                {% comment %} <div class="col">
                  <div class="p-3">
                    <button class="btn btn-primary">Report 4</button>
                </div>
                </div>
                <div class="col">
                  <div class="p-3">
                    <button class="btn btn-primary">Report 5</button>
                  </div>
                </div>
                <div class="col">
                  <div class="p-3">
                    <button class="btn btn-primary">Report 6</button>
                  </div>
                </div>
                <div class="col">
                  <div class="p-3">
                    <button class="btn btn-primary">Report 7</button>
                  </div> {% endcomment %}
                </div>
                {% comment %} <div class="col">
                  <div class="p-3">Row column</div>
                </div>
                <div class="col">
                  <div class="p-3">Row column</div>
                </div>
                <div class="col">
                  <div class="p-3">Row column</div>
                </div> {% endcomment %}
              </div>
            </div>
          </div>
        </div>

</div>
        




<!-- end comtent -->
{% endblock content %}
<!-- Specific Page JS goes HERE  -->
{% block javascripts %} {% endblock javascripts %}



