{% extends 'layouts/base.html' %}
{% load static %}
{% load i18n %}

{% block title %}{% trans "Return Sales" %}{% endblock %}

{% block content %}

{% block page_name %}{% trans "Return Sales" %}{% endblock %}
{% block page_name2 %}{% trans "Return Sales" %}{% endblock %}

<div class="row">
  <div class="col-8">
    <div class="card mb-4">
      <div class="card-header pb-0">
        <form action="/add_order_to_sale_return" method="post">
          {% csrf_token %}
          <div class="d-flex align-items-center">
            <p class="mb-0">{% trans "New Sale Return" %}</p>
            <button class="btn btn-primary btn-sm ms-auto">{% trans "Add product" %}</button>
          </div>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-6">
            <label class="form-control-label">{% trans "Product Name" %}</label>
            <select class="form-control" name="product_name">
              <option>{% trans "- Select Product -" %}</option>
              {% for product in products %}
              <option>{{ product.product_name }}</option>
              {% endfor %}
            </select>
          </div>
          <div class="col-md-4">
            <label class="form-control-label">{% trans "Quantity" %}</label>
            <input class="form-control" type="number" name="quantity">
          </div>
        </div>
        </form>

        <form action="/submit_sale_return" method="post">
        {% csrf_token %}
  <p>{% trans "Return Summary" %}</p>
        <table class="table">
          <tr>
            <th>{% trans "id" %}</th>
            <th>{% trans "Product" %}</th>
            <th>{% trans "Quantity" %}</th>
            <th>{% trans "Unit Price" %}</th>
            <th>{% trans "Total Price" %}</th>
          </tr>
          {% for order in sale_returns_cart %}
          <tr>
            <td>{{ order.product_id }}</td>
            <td>{{ order.product_name }}</td>
            <td>{{ order.quantity }}</td>
            <td>{{ order.unit_price }}</td>
            <td>{{ order.total_price }}</td>
          </tr>
          {% endfor %}
          <tr class="table-secondary fw-bold">
            <td colspan="4" class="text-end">{% trans "Grand Total" %}</td>
            <td>{{ grand_total }}</td>
          </tr>
        </table>

        <button type="submit" class="btn btn-primary btn-sm">{% trans "Submit return" %}</button>
        <a href="/clear_sale_returns_cart" class="btn btn-secondary btn-sm">{% trans "Clear" %}</a>
        </form>

      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <div class="card mb-4">
      <div class="card-header pb-0">
        <h6>{% trans "Recent Sale Returns" %}</h6>
      </div>
      <div class="card-body px-0 pt-0 pb-2">
        <div class="table-responsive p-0">
          <table class="table align-items-center mb-0">
            <thead>
              <tr>
                <th>{% trans "Return No." %}</th>
                <th>{% trans "Added by" %}</th>
                <th>{% trans "Added at" %}</th>
                <th>{% trans "Action" %}</th>
              </tr>
            </thead>
            <tbody>
              {% for r in sale_returns %}
              <tr>
                <td>{{ r.id }}</td>
                <td>{{ r.employee.first_name }} {{ r.employee.last_name }}</td>
                <td>{{ r.created_at }}</td>
                <td><a href="/view_return_sale/{{ r.id }}">{% trans "View" %}</a></td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="pagination-container">
  <nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">
      {% if sale_returns.has_previous %}
        <li class="page-item">
          <a class="page-link" href="?sale_returns_page={{ sale_returns.previous_page_number }}" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
      {% endif %}
      {% for num in sale_returns.paginator.page_range %}
        <li class="page-item {% if sale_returns.number == num %}active{% endif %}">
          <a class="page-link" href="?sale_returns_page={{ num }}">{{ num }}</a>
        </li>
      {% endfor %}
      {% if sale_returns.has_next %}
        <li class="page-item">
          <a class="page-link" href="?sale_returns_page={{ sale_returns.next_page_number }}" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      {% endif %}
    </ul>
  </nav>
</div>

{% endblock content %}
