{% extends 'layouts/base.html' %}
{% load i18n %}

{% block title %}{% trans "Stock Products Report" %}{% endblock %}

{% block content %}
  <div class="card" id="printableTable">
    <div class="card-header">
        <div class="container">
            <div class="d-flex justify-content-between align-items-center">
                <h2>{% trans "Stock Products Report" %}</h2>
                <a href="{% url 'download_stock_products_excel' %}" class="btn btn-success">
                    <i class="fas fa-download"></i> {% trans "Download Excel" %}
                </a>
            </div>
            <div class="table-responsive p-0">
            <table class="table table-striped table-bordered">
                <thead class="table-dark">
                    <tr>
                        <th>{% trans "Product Name" %}</th>
                        <th>{% trans "Author" %}</th>
                        <th>{% trans "Supplier" %}</th>
                        <th>{% trans "Sale Price" %}</th>
                        <th>{% trans "Publisher" %}</th>
                        <th>{% trans "Production Date" %}</th>
                        <th>{% trans "Quantity" %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for product in products %}
                    <tr>
                        <td>{{ product.product_name|default:"" }}</td>
                        <td>{{ product.author|default:"" }}</td>
                        <td>{{ product.supplier|default:"" }}</td>
                        <td>{{ product.sale_price|default:"" }}</td>
                        <td>{{ product.publisher|default:"" }}</td>
                        <td>{{ product.production_date|date:"Y"|default:"" }}</td>
                        <td>{{ product.quantity }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

    </div>
  </div>
</div>
{% endblock %}
