{% extends 'layouts/base.html' %}

{% block title %}Sales Orders inv{% endblock %}

{% block stylesheets %} {% endblock stylesheets %}

{% block content %}

            {% block page_name %} inv {% endblock %}
            {% block page_name2 %} inv {% endblock %}
<!-- comtent -->

      <div class="row mt-12">
        <div class="col-8 ms-10">
          <div class="card mb-4" id="printableTable2">
            <div class="card-header pb-0">
              <h2 style="color: blueviolet; ">StockSync</h2>
                <b>Purchase Invoice No.</b>{{invoice.id}}</br>
                <b>Added by:</b> {{invoice.employee.first_name}} {{invoice.employee.last_name}}</br>
                <b>Date:</b> {{invoice.created_at}}
                <!-- <h6>StockSync / Daily Report</h6>
                <p>Date: {{today}}</p> -->
            </div>
            <div class="card-body px-0 pt-0 pb-2 ">
              <div class="table table-responsive p-0 ">
                <table class="table align-items-center justify-content-center mb-0">
                  <thead>
                    <tr>
                      <th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7">Product </th>
                      <th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7 ps-2">Quantity</th>
                      <th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7">ID </th>
                      <!-- <th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7 ps-2">Purchasing Price</th>
                      <th class="text-uppercase text-secondary text-xs font-weight-bolder  opacity-7 ps-2">Expiry Date</th>
                      <th class="text-uppercase text-secondary text-xs font-weight-bolder  opacity-7 ps-2">Supplier</th> -->
                      <th class="text-uppercase text-secondary text-xs font-weight-bolder  opacity-7 ps-2"></th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for order in purchase_products %}
                    <tr>
                      <td>
                        <div class="d-flex px-2">
                          <div class="my-auto">
                            <h6 class="mb-0 text-sm ms-2"> {{order.product.product_name}} </h6>
                          </div>
                        </div>
                      </td>
                      <td>
                        <div class="d-flex px-2">
                          <div class="my-auto">
                            <h6 class="mb-0 text-sm ms-2"> {{order.quantity }} </h6>
                          </div>
                        </div>
                      </td>
                      <td>
                        <div class="d-flex px-2">
                          <div class="my-auto">
                            <h6 class="mb-0 text-sm ms-2"> {{order.id }} </h6>
                          </div>
                        </div>
                      </td>
                      </tr>
                      {% endfor %}
                      
                  </tbody>
                </table>
              </div>
            </div>
          </div> 
        </div>
      </div>
      <!-- <button class="no-print btn btn-primary btn-sm ms-10" onclick="printTable()">Print</button> -->


<!-- end comtent -->
{% endblock content %}
<!-- Specific Page JS goes HERE  -->
{% block javascripts %} {% endblock javascripts %}






