{% extends 'layouts/base.html' %}
{% load i18n %}
{% block content %}
<br/> <br/> 
<br/> 
<br/> 
<br/> 
<br/> 
<h2>{% trans "Return for Purchase" %} #{{ purchase.id }}</h2>
{% if messages %}
            <ul class="messages">    
            {% for message in messages %}    
                {% if message.extra_tags == 'sold_product' %}
                <p class="message_success" {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>    
                {% else %}
                <p {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p> 
                {% endif %}
                {% endfor %}
            </ul>
            {% endif %}
<form method="post">
  {% csrf_token %}
  <div class="form-group mb-3">
    <label>{% trans "Payment Method" %}</label>
    <div>
      <input type="radio" id="cash" name="invoice_pay_method" value="cash" checked>
      <label for="cash">{% trans "Cash" %}</label>
    </div>
    <div>
      <input type="radio" id="debts" name="invoice_pay_method" value="debts">
      <label for="debts">{% trans "Debts" %}</label>
    </div>
  </div>
  <table class="table">
    <thead>
      <tr>
  <th>{% trans "Product" %}</th>
  <th>{% trans "Purchased Quantity" %}</th>
  <th>{% trans "Allowed to Return" %}</th>
  <th>{% trans "Return Quantity" %}</th>
  <th>{% trans "Unit Price" %}</th>
      </tr>
    </thead>
    <tbody>
      {% for row in items %}
      <tr>
        <td>{{ row.product.product_name }}</td>
        <td>{{ row.purchased_quantity }}</td>
        <td>{{ row.allowed_return_quantity }}</td>
        <td>
          <input type="number" name="return_qty_{{ row.purchase_item.id }}" min="0" max="{{ row.allowed_return_quantity }}" value="0" />
        </td>
        <td>{{ row.unit_price }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <button type="submit" class="btn btn-primary">{% trans "Submit Return" %}</button>
</form>
{% endblock %}
