<!-- <div class="min-height-300 bg-primary position-absolute w-100"></div> -->
{% load static %}
{% load i18n %}
<aside class="sidenav bg-white navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 {% if LANGUAGE_CODE == 'ar' %}fixed-end me-4{% else %}fixed-start ms-4{% endif %}" id="sidenav-main">
    <div class="sidenav-header">
        <a class="navbar-brand m-0" target="_blank">
        <img src="{% static 'img/logo.PNG' %}" class="navbar-brand-img h-100" alt="main_logo">
    <span class="ms-1 font-weight-bold">{% trans "Employee Dashboard" %}</span>
        </a>
        <hr class="horizontal dark mt-0">
    </div>
    
            <span class="nav-link-text ms-5">
                <b class="message_success" >{{employee.first_name}} {{employee.last_name}}</b>
            </span>
                <div id="sidenav-scrollbar">
        <ul class="navbar-nav" style="padding-right: 0">
        <li class="nav-item {% if request.path == '/index'   %} bg-gradient-success {% endif %}">
            <a class="nav-link " href="/index">
            <div class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                <i class="ni ni-tv-2 text-primary text-sm opacity-10"></i>
            </div>
            <span class="nav-link-text ms-1">{% trans "Main Page" %}</span>
            </a>
        </li>
        <li class="nav-item {% if request.path == '/index_dashboard'   %} bg-gradient-success {% endif %}">
            <a class="nav-link " href="/index_dashboard">
            <div class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                <i class="ni ni-tv-2 text-primary text-sm opacity-10"></i>
            </div>
            <span class="nav-link-text ms-1">{% trans "Dashboard Manage" %}</span>
            </a>
        </li>

        
        <li class="nav-item {% if request.path == '/sales' or 'view_sale_order' in request.path %} bg-gradient-success {% endif %}">
            <a class="nav-link " href="/sales">
            <div class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                <i class="ni ni-calendar-grid-58 text-warning text-sm opacity-10"></i>
            </div>
            <span class="nav-link-text ms-1" style="font-size:18px !important;"> <strong>{% trans "Sales Orders" %}</strong></span>
            </a>
        </li>
                <li class="nav-item {% if request.path == '/return_sales' or 'view_return_sale' in request.path  %} bg-gradient-success {% endif %}">
            <a class="nav-link " href="/return_sales">
            <div class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                <i class="ni ni-basket text-danger text-sm opacity-10"></i>
            </div>
            <span class="nav-link-text ms-1" style="font-size:18px !important;"><strong>{% trans "Return Sales" %}</strong></span>
            </a>
        </li>
        <li class="nav-item {% if request.path == '/purchases' or 'view_purchase_invoice' in request.path  %} bg-gradient-success {% endif %}">
            <a class="nav-link " href="/purchases">
            <div class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                <i class="ni ni-credit-card text-success text-sm opacity-10"></i>
            </div>
            <span class="nav-link-text ms-1" style="font-size:18px !important;"><strong>{% trans "Purchase Invoices" %}</strong></span>
            </a>
        </li>
        <li class="nav-item {% if request.path == '/return_purchases' or 'view_return_invoice' in request.path  %} bg-gradient-success {% endif %}">
            <a class="nav-link " href="/return_purchases">
            <div class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                <i class="ni ni-tag text-danger text-sm opacity-10"></i>
            </div>
            <span class="nav-link-text ms-1" style="font-size:18px !important;"><strong>{% trans "Return Purchases" %}</strong></span>
            </a>
        </li>

        <li class="nav-item {% if request.path == '/stock_out_voucher' or 'view_stock_out' in request.path %} bg-gradient-success {% endif %}">
            <a class="nav-link" href="/stock_out_voucher">
            <div class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                <i class="ni ni-delivery-fast text-warning text-lg opacity-10"></i>
            </div>
            <span class="nav-link-text ms-1" style="font-size:18px !important;"><strong>{% trans "Stock Out Voucher" %}</strong></span>
            </a>
        </li>

        <li class="nav-item {% if request.path == '/products/' or 'products' in request.path %} bg-gradient-success {% endif %}">
            <a class="nav-link " href="/products">
            <div class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                <i class="ni ni-app text-info text-sm opacity-10"></i>
            </div>
            <span class="nav-link-text ms-1" style="font-size:18px !important;"> <strong>{% trans "Product List" %}</strong></span>
            </a>
        </li>
        <li class="nav-item {% if request.path == '/suppliers' %} bg-gradient-success {% endif %}">
            <a class="nav-link " href="/suppliers">
            <div class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                <i class="ni ni-badge text-info text-sm opacity-10"></i>
            </div>
            <span class="nav-link-text ms-1" style="font-size:18px !important;"> <strong>{% trans "Suppliers" %}</strong></span>
            </a>
        </li>
        <li class="nav-item {% if request.path == '/customers' %} bg-gradient-success {% endif %}">
            <a class="nav-link " href="/customers">
            <div class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                <i class="ni ni-badge text-info text-sm opacity-10"></i>
            </div>
            <span class="nav-link-text ms-1" style="font-size:18px !important;"> <strong>{% trans "Customers" %}</strong></span>
            </a>
        </li>
         {% comment %} <li class="nav-item">
            <a class="nav-link " href="../pages/rtl.html">
            <div class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                <i class="ni ni-world-2 text-danger text-sm opacity-10"></i>
            </div>
            <span class="nav-link-text ms-1">RTL</span>
            </a>
        </li> {% endcomment %}

        <hr class="horizontal dark my-1">


         <li class="nav-item mt-3">
            <h6 class="ps-4 ms-2 text-uppercase text-xs font-weight-bolder opacity-6">{% trans "Company Settings" %}</h6>
        </li>
        <li class="nav-item">
            <a class="nav-link btn btn-outline-dark {% if request.path == '/company_profile'   %} active me-2 {% endif %} " href="/company_profile">
            <div class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                <i class="ni ni-single-02 text-dark text-sm opacity-10"></i>
            </div>
            <span class="nav-link-text ms-1">{% trans "Company Profile" %}</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link btn btn-outline-dark  {% if request.path == '/employees'   %} active me-2 {% endif %}" href="/employees">
            <div class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                <i class="ni ni-single-02 text-dark text-sm opacity-10"></i>
            </div>
            <span class="nav-link-text ms-1" style="font-size:18px !important;">{% trans "Employees" %}</span>
            </a>
        </li>
            </ul>
            </div>

        <li class="nav-item {% if request.path == '/employee_reports'   %} bg-gradient-success {% endif %}">
            <a class="nav-link " href="/employee_reports">
            <div class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                <i class="ni ni-single-copy-04 text-warning text-sm opacity-10"></i>
            </div>
            <span class="nav-link-text ms-1" style="font-size:18px !important;">{% trans "Reports" %}</span>
            </a>
        </li> 
        <li class="nav-item">
            <a class="nav-link " href="/emp_logout">
            <div class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                <i class="ni ni-collection text-info text-sm opacity-10"></i>
            </div>
            <span class="nav-link-text ms-1" style="font-size:18px !important;">{% trans "Logout" %}</span>
            </a>
        </li>

        </ul>


        
</aside>