{% load i18n %}
<footer class="footer pt-3 bg-white fixed-bottom">
<div class="container-fluid">
    <div class="row align-items-center justify-content-lg-between">
    <div class="col-lg-6 mb-lg-0 mb-4">
        <div class="copyright text-center text-sm text-muted text-lg-start ">
            <span id="year"></span>
        © <script>
            document.getElementById("year").textContent = new Date().getFullYear();
        </script>,
    {% trans "made with" %} <i class="fa fa-heart"></i> {% trans "by" %}
    <a href="http://www.membrmate.com" class="font-weight-bold" target="_blank">{% trans "Member Mate" %}</a>
        </div>
    </div>
    <div class="col-lg-6">
        <ul class="nav nav-footer justify-content-center justify-content-lg-end">
        <li class="nav-item">
            <a class="nav-link text-muted" target="_blank">{% trans "StockSync" %}</a>
        </li>
        <li class="nav-item">
            <a href="/about_us" class="nav-link text-muted" target="_blank">{% trans "About Us" %}</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-muted" target="_blank">{% trans "WhatsApp" %}</a>
        </li>
        <li class="nav-item">
            <a class="nav-link pe-0 text-muted" target="_blank"> +970599938149</a>
        </li>
        </ul>
    </div>
    </div>
</div>
</footer>