{% extends 'layouts/base.html' %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block title %}{% trans "Products" %}{% endblock %}

{% block stylesheets %} {% endblock stylesheets %}

{% block content %}

{% block page_name %}{% trans "Products" %}{% endblock %}
{% block page_name2 %}{% trans "Add / View products" %}{% endblock %}
<div class="row" >
    <div class="container mt-5">
    <h2>{% trans "Product List" %}</h2>
    <a href="{% url 'product_create' %}" class="btn btn-success mb-3">{% trans "+ Add / Define New Product" %}</a>
        <div class="card-body px-0 pt-0 pb-2">
        <div class="table-responsive p-0">
            <table class="table table-striped table-bordered">
                <thead class="table-dark">
                    <tr>
                        <th>#</th>
                        <th>{% trans "Product Name" %}</th>
                        <th>{% trans "Quantity" %}</th>
                        <th>{% trans "Purchase Price" %}</th>
                        <th>{% trans "Sale Price" %}</th>
                        <th>{% trans "ISBN" %}</th>
                        <th>{% trans "Production Date" %}</th>
                        <th>{% trans "Author" %}</th>
                        <th>{% trans "Expiry Date" %}</th>
                        <th>{% trans "Supplier" %}</th>
                        <th>{% trans "Employee" %}</th>
                        <th>{% trans "Attributes" %}</th>
                        <th>{% trans "Actions" %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for product in products %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ product.product_name }}</td>
                        <td>{{ product.quantity }}</td>
                        <td>{{ product.purchasing_price }}</td>
                        <td>{{ product.sale_price }}</td>
                        <td>{{ product.isbn }}</td>
                        <td>{{ product.production_date }}</td>
                        <td>{{ product.author }}</td>
                        <td>{{ product.expiry_date }}</td>
                        <td>{{ product.supplier }}</td>
                        <td>{{ product.employee.first_name }}</td>
                        <td>
                            <ul class="list-unstyled mb-0">
                                {% for attr in product.attributes.all %}
                                    <li><strong>{{ attr.attribute_name }}:</strong> {{ attr.attribute_value }}</li>
                                {% empty %}
                                    <li>{% trans "No attributes" %}</li>
                                {% endfor %}
                            </ul>
                        </td>

                        <td>
                        <a class="btn btn-link text-dark px-1 mb-0 " href="{% url 'product_update' product.pk %}"><i class="fas fa-pencil-alt text-dark me-2" ></i>{% trans "Edit" %}</a>
                        <a class="btn btn-link text-danger px-0 mb-0" href="{% url 'product_delete' product.pk %}"><i class="far fa-trash-alt me-2" ></i>{% trans "Delete" %}</a>
                        </td>

                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="10" class="text-center">{% trans "No products yet" %}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        </div>
    </div>
</div>
{% endblock content %}
{% block javascripts %} {% endblock javascripts %}